openapi: 3.0.3
info:
  title: Simple API
  version: 1.0.0
paths:
  /api/hello:
    get:
      tags:  # Добавляем тег
        - Hello
      summary: Get greeting message
      operationId: getHello
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelloResponse"
components:
  schemas:
    HelloResponse:
      type: object
      properties:
        message:
          type: string
          example: "Hello World!"